* {
    box-sizing: border-box;
    font-family: Raleway;
   
}
a{
    list-style: none;
    text-decoration: none
}

@import url('https://fonts.googleapis.com/css?family=Raleway');
body {
    margin: 0;
    background-color: black;
    color: whitesmoke;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color:black;
    color: white;
}

.logo-twitter {
    font-size: 2.5rem;
    margin: 1.5rem;
    color :#1DA1F2;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: #555;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .min-links {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}
.bgtwitter{
    background-image:url(./image/bg-section-twitter.png);

}
.element {
    padding-inline-start: 2%;
}

.inscription {
    margin: 0rem 10rem;
}

 button {
    border-radius: 60rem;
    padding-block: 0.5rem;
    width: 100%;
    margin-bottom: 8px;
    text-decoration: none;
    padding-left: 2rem;
    padding-right: 2rem;
}
@media (min-width: 900px) {
    button{
        width: 50%;
    }
    
}
section span{
    text-align: left;
    font-size: .8rem;
}
.google-button i{
    color:red;
    font-weight: bold;

}
H1 {
    font-size: 4rem;
    padding-top: 5rem;
    text-align: left;
}
H2{
    font-size: 2.5rem;
    padding-top: 1rem;
    text-align: left;
}

.connexion-button button{
  color: #1DA1F2 ; 
  background-color: black;
  border-color: rgb(207, 217, 222);

}
.connexion-button button a {
    color: #1DA1F2 ; 
 }
 .connexion-button button:hover {
    background-color: rgb(190, 243, 214);
 }

 h3{
    white-space: pre-wrap;
}
.phone-button{
    
}
img {
box-sizing: border-box;
width: 100%;
}
@media (min-width: 900px) {
    .container{
        display: flex;
        flex-direction: row-reverse;
    }
    img {
        box-sizing: border-box;
        height: 100%;
        }
}